body {
  font-family: "STIX Two Text", "LXGW WenKai TC", serif;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9em;
}

.lyric {
  text-align: center;
  font-size: xx-large;
  background: linear-gradient(90deg, green, limegreen, lime);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}